<div class="item  col-xs-6 col-lg-6">
    <div class="caption">
        <h4 class="group inner list-group-item-heading">
            Product title</h4>
        <p class="group inner list-group-item-text">
            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p class="lead">
                    2000/-</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <a class="btn btn-success" href="#">Book Package</a>
            </div>
        </div>
    </div>
</div>